<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicast</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'app/img/Fondos/fondo-clinica.png' %}" />
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
</head>
<body>
    <!-- Nav -->
    {% block nav %}
    {% include 'app/header.html' %}
    {% endblock %}

    <!-- Formulario Reserva de Hora Médica -->
    <div class="container text-center contenedor-form">
        <div class="row">
          <div class="col"></div>
          <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
            <form id="formulario" method="post">
              {% csrf_token %}
              <!-- Titulo de Formulario -->
              <legend class="titulo-reg text-center mb-2">Formulario Reserva</legend>
              <div class="row g-3 mb-3">
              <!-- Input Rut Paciente -->
                <div class="col">
                    <div id="formFloating3" class="form-floating">
                      <input id="rut" type="text" value="{{ rut }}" class="form-control" placeholder="name@example.com" disabled>
                      <label for="floatingInput">Rut: </label>
                    </div>
                    <div id="rutInv" class="invalid-feedback"></div>
                </div>
                <!-- Input Previsión de Salud (Cambiar indice por el texto)-->
                <div class="col">
                  <div id="formFloating3" class="form-floating">
                    <input id="prevision" type="text" value="{{ prevision }}" class="form-control" placeholder="name@example.com" disabled>
                    <label for="floatingInput">Previsión:</label>
                  </div>
                </div>
              </div>
              <div class="row g-3 mb-3">
                <!-- Campo Especialidad -->
                <div class="col">
                  <div class="input-group mb-3">
                    <label class="input-group-text" for="{{ form.prevision.id_for_label }}">Especialidad:</label>
                    <select class="form-select" name="prevision">
                      <option value="1">Medicina General</option>
                      <option value="2">Isalud Isapre De Codelco</option>
                      <option value="3">Odontología</option>
                      <option value="4">Psicología</option>
                      <option value="5">Pediatría</option>
                      <option value="6">Dermatología</option>
                      <option value="7">Ginecología y Obstetricia</option>
                    </select>
                  </div>
                </div>
                <!-- Campo nombre medico -->
                <div class="col">
                  <div class="input-group mb-3">
                    <label class="input-group-text" for="{{ form.prevision.id_for_label }}">Médicos:</label>
                    <select class="form-select" name="prevision">
                      <option value="1">Dr. Marco Bustos</option>
                      <option value="2">Dra. Francisca Valdiva</option>
                      <option value="3">Dra. Nancy Ramirez</option>
                      <option value="4">Dr. Rodolfo Palma</option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="row g-3 mb-3">
                <!-- Campo Agendar Dia -->
                <div class="col">
                  <div id="formFloating3" class="form-floating">
                    <input type="date" name="fecha"
                      id="fecha"
                      class="form-control"
                      placeholder="dd-mm-yyyy"
                      min=""
                      max="2023-05-31"
                      required>
                    <label>Dias Disponibilidad:</label>
                  </div>
                </div>
                <!-- Campo Agendar Hora -->
                <div class="col">
                  <div class="input-group mb-3 ">
                    <label class="input-group-text">Horas Disponibles:</label>
                    <select class="form-select" name="horas">
                      <option value="1">9:00 hrs</option>
                      <option value="2">9:30 hrs</option>
                      <option value="3">10:00 hrs</option>
                      <option value="4">10:30 hrs</option>
                      <option value="5">11:00 hrs</option>
                      <option value="6">11:30 hrs</option>
                      <option value="7">12:00 hrs</option>
                      <option value="8">12:30 hrs</option>
                      <option value="9">13:00 hrs</option>
                      <option value="10">13:30 hrs</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Boton Confirmar -->
              <div class="contenedor-boton">
                <a id="btn-enviar" type="submit" class="btn btn-primary link">Confirmar</a>
              </div>
            </form>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <script>
        var fechaActual = new Date().toISOString().substr(0, 10);
        document.getElementById("fecha").min = fechaActual;
      </script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>